<h1>About</h1>
	<p style="text-align:center;">
    	As part of <a href="http://onemonthrails.com">One month rails</a>, a Skillshare class by Mattan Griffel, I am currently learning Ruby on Rails, HTML & CSS. This is my first ever application.
	</p>
	<h2>
		What is Share Places?
	</h2>

