<% if user_signed_in? %>
<h1>You're signed in!</h1>

<% else %>
<div class="center hero-unit">
    <h1>Welcome to One Month Rails</h1>

    <h2>
      You've found the home page for the
      <a href="http://omrails.com/">One Month Rails</a>
      first application.
    </h2>

    <%= link_to "Sign up now!", new_user_registration_path, 
                                class: "btn btn-large btn-primary" %>
</div>

<div class="row">
	<div class="span4">
		<h2>Heading</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel eros metus. Fusce fringilla, justo eget scelerisque rhoncus, est magna dignissim urna, vitae convallis nisi odio ac nulla.</p>
	  </div>
	  <div class="span4">
		<h2>Heading</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel eros metus. Fusce fringilla, justo eget scelerisque rhoncus, est magna dignissim urna, vitae convallis nisi odio ac nulla.</p>
	  </div>
	  <div class="span4">
		<h2>Heading</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel eros metus. Fusce fringilla, justo eget scelerisque rhoncus, est magna dignissim urna, vitae convallis nisi odio ac nulla.</p>
	  </div>

<% end %>